@charset "UTF-8";

*{
	margin:0;
	padding:0;
	font-family:Arial;
}

html,body{
	width:100%;
	height:100%;
}

body{
	background:url("../images/ResetPassword/resetpassword.png");
	background-size:cover;
}

.wrapper{
	margin:100px 1000px;
	position:relative;
	width:500px;
	height:450px;	
}




/*密码重设区域*/
.resetArea{
	width:100%;
	height:100%;
	right:0;
	display:inline-block;
	position:absolute;
	background-color:white;
}

.head{
	color:rgb(0,159,233);
}

.resetArea input{
	width:300px;
	height:30px;
	line-height:30px;
	font-size:16px;
	margin-top:10px;
}

.inputArea{
	margin:10px 80px;
	width:400px;
}

.resetArea span{
	display:none;
}

.resetArea span img{
	width:20px;
	height:20px;
}
              
.resetArea p{
	width:300px;
	height:30px;
	line-height:30px;
	text-align:center;
	display:block;
	color:red;
}

#getCode,#backToLogin,#registerNow{
	text-decoration: underline;
	color:rgb(0,159,233);
	cursor:pointer;
	margin-left:50px;
	margin-top:10px;
	text-align:center;
	display:inline-block;
	font-size:16px;
}

.close {
    background:white;
    color:#95C648;
    border-radius:50%;
    border:none;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 40px;
    padding: 1px;
    top: -15px;
    right: -15px;
    position: absolute;
    opacity: 0.9;
    cursor:pointer;
}
.close::before {
    /*content: "\2716";*/
    content:"X";
}

.grayout{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.4);
   	 display:none;
 }
         

.vericode-error{
	height:20px;
	text-align:center;
	color:red;
}

.vericode-input div{
	margin-left:50px;
	margin-top:30px;
	position:relative;
}

.vericode-input div input{
	width:200px;
	height:30px;
}

.centerVericode{
	 position:relative;
     width: 400px;
     height: 300px;
     margin: 200px auto;
     background-color:white;
}

.confirmReset{
	width:300px;
	height:40px;
	border:none;
	margin-left:80px;
	margin-top:10px;
	background-color:#95C648;
	font-size:16px;
	display:block;
	cursor:pointer;
}

.canvas{
	width:270px;
	height:80px;
	margin-left:50px;
	margin-top:40px;
	border:1px solid #000;
    border-radius: 5px;
    background-image: url("../images/ResetPassword/canvasbg.png");
}

.refresh{
	position: absolute;
    width: 32px;
    height: 32px;
    margin:40px 20px;
    background-image: url("../images/ResetPassword/update.png");
    background-size: 100%;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    vertical-align:middle;
}
.vericodeConfirm{
	width:300px;
	height:40px;
	border:none;
	margin-left:50px;
	margin-top:10px;
	background-color:#95C648;
	font-size:16px;
	cursor:pointer;
}
